<html>
<head>
<title>login_nightmode.xml</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
.s0 { color: #e8bf6a;}
.s1 { color: #bababa;}
.s2 { color: #6a8759;}
.s3 { color: #a9b7c6;}
</style>
</head>
<body bgcolor="#2b2b2b">
<table CELLSPACING=0 CELLPADDING=5 COLS=1 WIDTH="100%" BGCOLOR="#606060" >
<tr><td><center>
<font face="Arial, Helvetica" color="#000000">
login_nightmode.xml</font>
</center></td></tr></table>
<pre><span class="s0">&lt;?</span><span class="s1">xml version</span><span class="s2">=&quot;1.0&quot; </span><span class="s1">encoding</span><span class="s2">=&quot;utf-8&quot;</span><span class="s0">?&gt;</span>
<span class="s0">&lt;androidx.constraintlayout.widget.ConstraintLayout </span><span class="s1">xmlns:android</span><span class="s2">=&quot;http://schemas.android.com/apk/res/android&quot;</span>
    <span class="s1">xmlns:app</span><span class="s2">=&quot;http://schemas.android.com/apk/res-auto&quot;</span>
    <span class="s1">xmlns:tools</span><span class="s2">=&quot;http://schemas.android.com/tools&quot;</span>
    <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
    <span class="s1">android:layout_height</span><span class="s2">=&quot;match_parent&quot;</span>
    <span class="s1">android:background</span><span class="s2">=&quot;@color/black&quot;</span><span class="s0">&gt;</span>


    <span class="s0">&lt;LinearLayout</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;408dp&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;159dp&quot;</span>
        <span class="s1">android:orientation</span><span class="s2">=&quot;vertical&quot;</span>
        <span class="s1">tools:layout_editor_absoluteX</span><span class="s2">=&quot;1dp&quot;</span>
        <span class="s1">tools:layout_editor_absoluteY</span><span class="s2">=&quot;1dp&quot;</span><span class="s0">&gt;</span>

        <span class="s0">&lt;ImageView</span>
            <span class="s1">android:id</span><span class="s2">=&quot;@+id/imageView11&quot;</span>
            <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
            <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
            <span class="s1">app:srcCompat</span><span class="s2">=&quot;@drawable/ic_logo&quot; </span><span class="s0">/&gt;</span>
    <span class="s0">&lt;/LinearLayout&gt;</span>

    <span class="s0">&lt;EditText</span>
        <span class="s1">android:id</span><span class="s2">=&quot;@+id/email&quot;</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;374dp&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;72dp&quot;</span>
        <span class="s1">android:background</span><span class="s2">=&quot;@drawable/contour&quot;</span>
        <span class="s1">android:drawableLeft</span><span class="s2">=&quot;@drawable/ic_email&quot;</span>
        <span class="s1">android:drawableRight</span><span class="s2">=&quot;@drawable/baseline_remove_red_eye_24&quot;</span>
        <span class="s1">android:paddingRight</span><span class="s2">=&quot;8dp&quot;</span>
        <span class="s1">android:text</span><span class="s2">=&quot;  Email&quot;</span>
        <span class="s1">android:inputType</span><span class="s2">=&quot;textEmailAddress&quot;</span>
        <span class="s1">android:paddingLeft</span><span class="s2">=&quot;8dp&quot;</span>
        <span class="s1">android:shadowRadius</span><span class="s2">=&quot;3&quot;</span>
        <span class="s1">android:textColor</span><span class="s2">=&quot;@color/white&quot;</span>
        <span class="s1">tools:layout_editor_absoluteX</span><span class="s2">=&quot;18dp&quot;</span>
        <span class="s1">tools:layout_editor_absoluteY</span><span class="s2">=&quot;191dp&quot; </span><span class="s0">/&gt;</span>

    <span class="s0">&lt;TextView</span>
        <span class="s1">android:id</span><span class="s2">=&quot;@+id/password&quot;</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;374dp&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;72dp&quot;</span>
        <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;52dp&quot;</span>
        <span class="s1">android:background</span><span class="s2">=&quot;@drawable/contour&quot;</span>
        <span class="s1">android:drawableLeft</span><span class="s2">=&quot;@drawable/baseline_lock_24&quot;</span>
        <span class="s1">android:gravity</span><span class="s2">=&quot;center|left&quot;</span>
        <span class="s1">android:hint</span><span class="s2">=&quot;  password&quot;</span>
        <span class="s1">android:inputType</span><span class="s2">=&quot;textPassword&quot;</span>
        <span class="s1">android:paddingLeft</span><span class="s2">=&quot;8dp&quot;</span>
        <span class="s1">android:textColor</span><span class="s2">=&quot;@color/white&quot;</span>
        <span class="s1">app:layout_constraintTop_toBottomOf</span><span class="s2">=&quot;@+id/email&quot;</span>
        <span class="s1">tools:layout_editor_absoluteX</span><span class="s2">=&quot;18dp&quot; </span><span class="s0">/&gt;</span>

    <span class="s0">&lt;ImageView</span>
        <span class="s1">android:id</span><span class="s2">=&quot;@+id/imageView9&quot;</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;154dp&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;80dp&quot;</span>
        <span class="s1">app:srcCompat</span><span class="s2">=&quot;@drawable/ic_btn_facebook&quot;</span>
        <span class="s1">tools:layout_editor_absoluteX</span><span class="s2">=&quot;32dp&quot;</span>
        <span class="s1">tools:layout_editor_absoluteY</span><span class="s2">=&quot;664dp&quot; </span><span class="s0">/&gt;</span>

    <span class="s0">&lt;ImageView</span>
        <span class="s1">android:id</span><span class="s2">=&quot;@+id/imageView10&quot;</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;165dp&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;72dp&quot;</span>
        <span class="s1">android:layout_marginStart</span><span class="s2">=&quot;56dp&quot;</span>
        <span class="s1">app:layout_constraintStart_toEndOf</span><span class="s2">=&quot;@+id/imageView9&quot;</span>
        <span class="s1">app:srcCompat</span><span class="s2">=&quot;@drawable/ic_btn_google&quot;</span>
        <span class="s1">tools:layout_editor_absoluteY</span><span class="s2">=&quot;664dp&quot; </span><span class="s0">/&gt;</span>

    <span class="s0">&lt;TextView</span>
        <span class="s1">android:id</span><span class="s2">=&quot;@+id/lnkRegister&quot;</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;207dp&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;56dp&quot;</span>
        <span class="s1">android:layout_marginEnd</span><span class="s2">=&quot;12dp&quot;</span>
        <span class="s1">android:layout_marginBottom</span><span class="s2">=&quot;52dp&quot;</span>
        <span class="s1">android:baselineAligned</span><span class="s2">=&quot;false&quot;</span>
        <span class="s1">android:gravity</span><span class="s2">=&quot;center&quot;</span>
        <span class="s1">android:text</span><span class="s2">=&quot;forget your password ?&quot;</span>
        <span class="s1">android:textColor</span><span class="s2">=&quot;#FF0000&quot;</span>
        <span class="s1">android:textSize</span><span class="s2">=&quot;18dp&quot;</span>
        <span class="s1">android:textStyle</span><span class="s2">=&quot;bold&quot;</span>
        <span class="s1">app:layout_constraintBottom_toTopOf</span><span class="s2">=&quot;@+id/button2&quot;</span>
        <span class="s1">app:layout_constraintEnd_toEndOf</span><span class="s2">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintTop_toBottomOf</span><span class="s2">=&quot;@+id/password&quot;</span>
        <span class="s1">app:layout_constraintVertical_bias</span><span class="s2">=&quot;1.0&quot; </span><span class="s0">/&gt;</span>

    <span class="s0">&lt;TextView</span>
        <span class="s1">android:id</span><span class="s2">=&quot;@+id/textView6&quot;</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;183dp&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;47dp&quot;</span>
        <span class="s1">android:layout_marginStart</span><span class="s2">=&quot;4dp&quot;</span>
        <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;32dp&quot;</span>
        <span class="s1">android:gravity</span><span class="s2">=&quot;center&quot;</span>
        <span class="s1">android:text</span><span class="s2">=&quot;@string/ligne&quot;</span>
        <span class="s1">android:textColor</span><span class="s2">=&quot;#FF0000&quot;</span>
        <span class="s1">android:textStyle</span><span class="s2">=&quot;bold&quot;</span>
        <span class="s1">app:layout_constraintStart_toEndOf</span><span class="s2">=&quot;@+id/textView7&quot;</span>
        <span class="s1">app:layout_constraintTop_toBottomOf</span><span class="s2">=&quot;@+id/imageView10&quot; </span><span class="s0">/&gt;</span>

    <span class="s0">&lt;CheckBox</span>
        <span class="s1">android:id</span><span class="s2">=&quot;@+id/checkBox&quot;</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;158dp&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;60dp&quot;</span>
        <span class="s1">android:layout_marginStart</span><span class="s2">=&quot;16dp&quot;</span>
        <span class="s1">android:layout_marginBottom</span><span class="s2">=&quot;48dp&quot;</span>
        <span class="s1">android:buttonTint</span><span class="s2">=&quot;@color/white&quot;</span>
        <span class="s1">android:text</span><span class="s2">=&quot;Remeber me &quot;</span>
        <span class="s1">android:textColor</span><span class="s2">=&quot;#FF0000&quot;</span>
        <span class="s1">android:textSize</span><span class="s2">=&quot;18dp&quot;</span>
        <span class="s1">android:textStyle</span><span class="s2">=&quot;bold&quot;</span>
        <span class="s1">app:layout_constraintBottom_toTopOf</span><span class="s2">=&quot;@+id/button2&quot;</span>
        <span class="s1">app:layout_constraintStart_toStartOf</span><span class="s2">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintTop_toBottomOf</span><span class="s2">=&quot;@+id/password&quot;</span>
        <span class="s1">app:layout_constraintVertical_bias</span><span class="s2">=&quot;1.0&quot; </span><span class="s0">/&gt;</span>

    <span class="s0">&lt;Button</span>
        <span class="s1">android:id</span><span class="s2">=&quot;@+id/button2&quot;</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;387dp&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;82dp&quot;</span>
        <span class="s1">android:layout_marginBottom</span><span class="s2">=&quot;20dp&quot;</span>
        <span class="s1">android:backgroundTint</span><span class="s2">=&quot;#DD0505&quot;</span>
        <span class="s1">android:text</span><span class="s2">=&quot;sign in &quot;</span>
        <span class="s1">android:textSize</span><span class="s2">=&quot;18dp&quot;</span>
        <span class="s1">app:layout_constraintBottom_toTopOf</span><span class="s2">=&quot;@+id/textView8&quot;</span>
        <span class="s1">app:layout_constraintEnd_toEndOf</span><span class="s2">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintStart_toStartOf</span><span class="s2">=&quot;parent&quot; </span><span class="s0">/&gt;</span>

    <span class="s0">&lt;TextView</span>
        <span class="s1">android:id</span><span class="s2">=&quot;@+id/textView7&quot;</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;183dp&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;47dp&quot;</span>
        <span class="s1">android:layout_marginStart</span><span class="s2">=&quot;16dp&quot;</span>
        <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;24dp&quot;</span>
        <span class="s1">android:gravity</span><span class="s2">=&quot;center&quot;</span>
        <span class="s1">android:text</span><span class="s2">=&quot;Don't have an account?&quot;</span>
        <span class="s1">android:textColor</span><span class="s2">=&quot;#FF0000&quot;</span>
        <span class="s1">android:textStyle</span><span class="s2">=&quot;bold&quot;</span>
        <span class="s1">app:layout_constraintStart_toStartOf</span><span class="s2">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintTop_toBottomOf</span><span class="s2">=&quot;@+id/imageView9&quot; </span><span class="s0">/&gt;</span>

    <span class="s0">&lt;TextView</span>
        <span class="s1">android:id</span><span class="s2">=&quot;@+id/textView8&quot;</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;46dp&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;25dp&quot;</span>
        <span class="s1">android:gravity</span><span class="s2">=&quot;center&quot;</span>
        <span class="s1">android:text</span><span class="s2">=&quot;OR&quot;</span>
        <span class="s1">android:textColor</span><span class="s2">=&quot;#ff0000&quot;</span>
        <span class="s1">android:textSize</span><span class="s2">=&quot;18dp&quot;</span>
        <span class="s1">android:textStyle</span><span class="s2">=&quot;bold&quot;</span>
        <span class="s1">app:layout_constraintEnd_toStartOf</span><span class="s2">=&quot;@+id/imageView10&quot;</span>
        <span class="s1">app:layout_constraintStart_toEndOf</span><span class="s2">=&quot;@+id/imageView9&quot;</span>
        <span class="s1">tools:layout_editor_absoluteY</span><span class="s2">=&quot;619dp&quot; </span><span class="s0">/&gt;</span>



<span class="s0">&lt;/LinearLayout&gt;</span>
<span class="s0">&lt;/androidx.constraintlayout.widget.ConstraintLayout&gt;</span></pre>
</body>
</html>